<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFDFILMS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <form action="/result" method="POST">
        <div class="input-container">
            <input type="text" name="movie_name" placeholder="kalau bisa copas dari list :)">
            <input type="number" name="rating" placeholder="1-5" max="5" min="1">
            <button type="submit">submit</button>
        </div>
    </form> -->
    <div class="body">
        <div class="header">
            <div class="logo-header">
                <img src="{{url_for('static', filename='images/cdfilms.png')}}">
            </div>
            <div class="menu-header">
                <div class="menu">
                    HOME
                </div>
                <div class="menu-null">
                    ABOUT
                </div>
                <div class="menu-null">
                    MOVIES
                </div>
                <div class="menu-null">
                    RECOMMENDATION
                </div>
            </div>
        </div>
        <div class="home">
            <div class="judul-section">
                MOST FAVORITE STILL
            </div>
            <div class="content-home-container">
                <div class="home-poster">
                    <img src="{{url_for('static', filename='images/rush-hour-2.png')}}">
                </div>
                <div class="home-text-container">
                    <div class="movie-title">
                        <div class="text-bold-78">
                            RUSH HOUR 2 (2001)
                        </div>
                    </div>
                    <div class="text-light-28" style="font-size: 24px; margin-top: 30px;">
                        “Chris Tucker is on fire and Jackie Chan is in his prime, you can definitely tell the two of them have a good friendship even off screen and it makes for a better viewing when they're on screen.

<br><br>Normally I find action comedies have fairly so so action set pieces but even after all these years i'm still super impressed with the Bamboo wall action sequence.

<br><br>The only stain on the movie is Brett Ratner who hasn't exactly had the best time since this movie was released.”
                    </div>
                </div>
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="about">
            <div class="judul-section" style="margin-left: 0px;">
                ABOUT
            </div>
            <div class="text-about">
                <div class="text-light-32">
                    CDFilm’s was a webisite about old movies. CDFilm’s hope that all of you who likes movies can know some films that have a similary with a film that you likes. CDFilm’s can gives you a films recommendation according to films that you already watched and already you rated.
<br><br>Thank you for you that already used this website. Hope that were aleady gives movie recommendation that good / relevant. Thank you so much.
                </div>
            </div>
            <div class="about-pict">
                    <img src="{{url_for('static', filename='images/about2.png')}}">
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="movies">
            <div class="judul-section" style="margin-left: 428px;">
                OUR OLD MOVIE LIST
            </div>
            <div class="movie">
                <div class="movie-list-container">
                    <div class="list-header">
                        Title (year)
                    </div>
                    <div class="movie-list">
                        <div class="text-light-28" style="text-align: left; width: 100%;">
                            Halloween 5: The Revenge of Michael Myers (1989)<br>
                            Pan Tadeusz (1999)<br>
                            Substitute 4: Failure is Not an Option (2000)<br>
                            The Shaft (2001)<br>
                            Wings of Desire (1987)<br>
                            Hostage (2005)<br>
                            The Abductors (1972)<br>
                            Nightbreed (1990)<br>
                            Godzilla vs. The Sea Monster (1966)<br>
                            Frank Lloyd Wright (1998)<br>
                            Vendetta (1999)<br>
                            Jay Jay the Jet Plane: Adventures in Learning (1999)<br>
                            Igby Goes Down (2002)<br>
                            Girl (1999)<br>
                            Reign in Darkness (2002)<br>
                            Elephant (2003)<br>
                            Transformers: Season 3: Part 1 (1986)<br>
                            The Deal (2004)<br>
                            George Lopez: Why You Crying? (2005)<br>
                            Saturday Night Live: The Best of Dana Carvey (1999)<br>
                            Agatha Christie's Poirot: Sad Cypress (2003)<br>
                            The Unsinkable Molly Brown (1964)<br>
                            My Favorite Martian #1 (1963)<br>
                            Happiness (1998)<br>
                            The 10th Kingdom (2000)<br>
                            Recess: School's Out (2001)<br>
                            Graveyard Shift (1990)<br>
                            Barney: Barney's Colorful World: Live (2004)<br>
                            Zeus and Roxanne (1997)<br>
                            Chobits (2002)<br>
                            Millennium Actress (2002)<br>
                            Les Miserables in Concert (1996)<br>
                            Untamed Heart (1993)<br>
                            Extreme Engineering: Tokyo's Sky City (2004)<br>
                            Love Can Seriously Damage Your Health (1996)<br>
                            Girls Just Want to Have Fun (1985)<br>
                            Beyblade: Fierce Battle (2005)<br>
                            Bean: The Movie (1997)<br>
                            Town Without Pity (1961)<br>
                            Just 4 Kicks (2003)<br>
                            Dark Shadows: Vol. 9 (1968)<br>
                            Mississippi Burning (1988)<br>
                            Rabbit-Proof Fence (2002)<br>
                            The Inner Tour (2001)<br>
                            Michael Collins (1996)<br>
                            The Underneath (1995)<br>
                            The Making of Fanny and Alexander (1986)<br>
                            Oswald: Welcome to the Big City! (2001)<br>
                            Jimmy Buffett: MiniMatinee #1 (2003)<br>
                            Isaac Stern: Life's Virtuoso (2000)<br>
                        </div>
                    </div>
                </div>
                <div class="movie-list-container">
                    <div class="list-header">
                        Title (year)
                    </div>
                    <div class="movie-list">
                        <div class="text-light-28" style="text-align: left; width: 100%;">
                            Batman the Animated Series: Vol. 3 (1993)<br>
                            Scorched (2002)<br>
                            Simple Men (1992)<br>
                            Xena: Warrior Princess: Season 3 (1995)<br>
                            Cardcaptor Sakura: The Movie (1999)<br>
                            Emma (Miniseries) (1996)<br>
                            Kill Bill: Vol. 2 (2004)<br>
                            Blast (2001)<br>
                            Basquiat (1996)<br>
                            Pink Narcissus (1971)<br>
                            Nightwalker #1: Midnight Detective (2000)<br>
                            Classic Cartoon Favorites: Starring Donald (2005)<br>
                            The Twilight Zone: Vol. 12 (1962)<br>
                            The Return of Ruben Blades (1987)<br>
                            Coolie No.1 (1995)<br>
                            Doogie Howser M.D.: Season 2 (1990)<br>
                            Topper Returns (1941)<br>
                            The Matrix: Revolutions (2003)<br>
                            First Night of My Life: 2000 Seen By... (1998)<br>
                            Beneath Loch Ness (2001)<br>
                            City Lights (1931)<br>
                            Mr. Jealousy (1998)<br>
                            Princess Mononoke (1997)<br>
                            Legend of 1900 (1998)<br>
                            Surf Ninjas (1993)<br>
                            VeggieTales Classics: Where's God When I'm Scared? (2004)<br>
                            George Carlin: Personal Favorites (1990)<br>
                            The Beverly Hillbillies (1962)<br>
                            George Carlin: What Am I Doing in New Jersey? (1988)<br>
                            Flypaper (1997)<br>
                            Building the Great Pyramid (2002)<br>
                            Frida (2002)<br>
                            Rush Hour 2 (2001)<br>
                            Danielle Steel's Jewels (1992)<br>
                            The Avengers '67 (1967)<br>
                            Journey to the Center of the Earth (1959)<br>
                            Doctor Who: Lost in Time: The Patrick Troughton Years (1968)<br>
                            His Secret Life (2001)<br>
                            Return to Paradise (1998)<br>
                            The Passion of Ayn Rand (1999)<br>
                            Torn Curtain (1966)<br>
                            Mrs. Soffel (1984)<br>
                            The Giallo Collection: Who Saw Her Die? (1972)<br>
                            Monty Python's The Meaning of Life: Special Edition (1983)<br>
                            Mission Kashmir (2000)<br>
                            Primus: Hallucino-Genetics Live 2004 (2004)<br>
                            Broadway's Lost Treasures (2003)<br>
                            Glory: Bonus Material (1989)<br>
                            Under Suspicion (2000)<br>
                            Mail Call: The Best of Season 1 (2002)<br>
                    </div>
                </div>
            </div>
            <div class="next-button">
                NEXT
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="recommendation">
            <div class="judul-section" style="margin-left: 0px;">
                RECOMMENDATION
            </div>
            <div class="text-med-32" style="margin-top: 10px; width: 910px;">
                you can input movie’s titles and also ratings for the movie on the list that maybe you already watched.
            </div>
            <div class="content-rec-container">
                <div class="form-container">
                    <div class="text-med-32">
                        1st Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        1st Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        2nd Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        2nd Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        3rd Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        3rd Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        4th Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        4th Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        5th Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        5th Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                </div>
                <div class="poster-container">
                    <div class="container-kiri">
                        <div class="poster">
                            <img src="{{url_for('static', filename='images/taxi.png')}}">
                        </div>
                        <div class="poster" style="margin-top: 30px;">
                            <img src="{{url_for('static', filename='images/gross-anatomy.png')}}">
                        </div>
                    </div>
                    <div class="container-kanan">
                        <div class="poster" style="margin-top: 95px;">
                            <img src="{{url_for('static', filename='images/forrest-gump.png')}}">
                        </div>
                        <div class="poster" style="margin-top: 30px;">
                            <img src="{{url_for('static', filename='images/crossroads.png')}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rec-button" style="margin-left: 484px;">
                GET RECOMMENDATION
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="footer">
            <div class="logo-footer">
                <img src="{{url_for('static', filename='images/logo-footer.png')}}">
            </div>
            <div class="text-med-32" style="font-size: 25px; text-align: center; width: 689px;">
                CDFilm provides movie recommendations that are just right for you. Experience something different.
            </div>
            <div class="sosmed-logo-container">
                <div class="sosmed-footer">
                    <img src="{{url_for('static', filename='images/instagram.png')}}">
                </div>
                <div class="sosmed-footer">
                    <img src="{{url_for('static', filename='images/facebook.png')}}">
                </div>
                <div class="sosmed-footer">
                    <img src="{{url_for('static', filename='images/call.png')}}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>