<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFDFILMS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <form action="/result" method="POST">
        <div class="input-container">
            <input type="text" name="movie_name" placeholder="kalau bisa copas dari list :)">
            <input type="number" name="rating" placeholder="1-5" max="5" min="1">
            <button type="submit">submit</button>
        </div>
    </form> -->
    <div class="body">
        <div class="header">
            <div class="logo-header">
                <img src="{{url_for('static', filename='images/cdfilms.png')}}">
            </div>
            <div class="menu-header">
                <div class="menu">
                    HOME
                </div>
                <div class="menu-null">
                    ABOUT
                </div>
                <div class="menu-null">
                    MOVIES
                </div>
                <div class="menu-null">
                    RECOMMENDATION
                </div>
            </div>
        </div>
        <div class="home">
            <div class="judul-section">
                MOST FAVORITE STILL
            </div>
            <div class="content-home-container">
                <div class="home-poster">
                    <img src="{{url_for('static', filename='images/rush-hour-2.png')}}">
                </div>
                <div class="home-text-container">
                    <div class="movie-title">
                        <div class="text-bold-78">
                            RUSH HOUR 2 (2001)
                        </div>
                    </div>
                    <div class="text-light-28" style="font-size: 24px; margin-top: 30px;">
                        “Chris Tucker is on fire and Jackie Chan is in his prime, you can definitely tell the two of them have a good friendship even off screen and it makes for a better viewing when they're on screen.

<br><br>Normally I find action comedies have fairly so so action set pieces but even after all these years i'm still super impressed with the Bamboo wall action sequence.

<br><br>The only stain on the movie is Brett Ratner who hasn't exactly had the best time since this movie was released.”
                    </div>
                </div>
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="about">
            <div class="judul-section" style="margin-left: 0px;">
                ABOUT
            </div>
            <div class="text-about">
                <div class="text-light-32">
                    CDFilm’s was a webisite about old movies. CDFilm’s hope that all of you who likes movies can know some films that have a similary with a film that you likes. CDFilm’s can gives you a films recommendation according to films that you already watched and already you rated.
<br><br>Thank you for you that already used this website. Hope that were aleady gives movie recommendation that good / relevant. Thank you so much.
                </div>
            </div>
            <div class="about-pict">
                    <img src="{{url_for('static', filename='images/about2.png')}}">
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="movies">
            <div class="judul-section" style="margin-left: 428px;">
                OUR OLD MOVIE LIST
            </div>
            <div class="movie">
                <div class="movie-list-container">
                    <div class="list-header">
                        Title (year)
                    </div>
                    <div class="movie-list">
                        <div class="text-light-28" style="text-align: left; width: 100%;">
                            Isle of Man TT 2004 Review (2004)<br>
                            Character (1997)<br>
                            Paula Abdul's Get Up & Dance (1994)<br>
                            The Rise and Fall of ECW (2004)<br>
                            Sick (1997)<br>
                            8 Man (1992)<br>
                            What the #$*! Do We Know!? (2004)<br>
                            Class of Nuke 'Em High 2 (1991)<br>
                            Fighter (2001)<br>
                            Full Frame: Documentary Shorts (1999)<br>
                            My Favorite Brunette (1947)<br>
                            Lord of the Rings: The Return of the King: Extended Edition: Bonus Material (2003)<br>
                            Nature: Antarctica (1982)<br>
                            Neil Diamond: Greatest Hits Live (1988)<br>
                            Screamers (1996)<br>
                            7 Seconds (2005)<br>
                            Immortal Beloved (1994)<br>
                            By Dawn's Early Light (2000)<br>
                            Seeta Aur Geeta (1972)<br>
                            Strange Relations (2002)<br>
                            Chump Change (2000)<br>
                            Clifford: Clifford Saves the Day! / Clifford's Fluffiest Friend Cleo (2001)<br>
                            My Bloody Valentine (1981)<br>
                            Inspector Morse 31: Death Is Now My Neighbour (1997)<br>
                            Never Die Alone (2004)<br>
                            Sesame Street: Elmo's World: The Street We Live On (1962)<br>
                            Lilo and Stitch (2002)<br>
                            Boycott (2001)<br>
                            Something's Gotta Give (2003)<br>
                            Classic Albums: Meat Loaf: Bat Out of Hell (1999)<br>
                            ABC Primetime: Mel Gibson's The Passion of the Christ (2004)<br>
                            Aqua Teen Hunger Force: Vol. 1 (2000)<br>
                            Ashtanga Yoga: Beginner's Practice with Nicki Doane (2003)<br>
                            Ferngully 2: The Magical Rescue (2000)<br>
                            Lady Chatterley (1992)<br>
                            Zatoichi's Conspiracy (1973)<br>
                            Daydream Obsession (2003)<br>
                            Love Reinvented (2000)<br>
                            Pitcher and the Pin-Up (2004)<br>
                            Horror Vision (2000)<br>
                            Searching for Paradise (2002)<br>
                            Silent Service (2000)<br>
                            Spitfire Grill (1996)<br>
                            The Love Letter (1999)<br>
                            Rudolph the Red-Nosed Reindeer (1964)<br>
                            The Bad and the Beautiful (1952)<br>
                            Justice League (2001)<br>
                            Devo: The Complete Truth About De-evolution (2003)<br>
                            A Yank in the R.A.F. (1941)<br>
                        </div>
                    </div>
                </div>
                <div class="movie-list-container">
                    <div class="list-header">
                        Title (year)
                    </div>
                    <div class="movie-list">
                        <div class="text-light-28" style="text-align: left; width: 100%;">                            Jonah: A VeggieTales Movie: Bonus Material (2002)<br>
                            The Weather Underground (2002)<br>
                            The Bonesetter (2003)<br>
                            We're Not Married (1952)<br>
                            Jade (1995)<br>
                            Carandiru (2004)<br>
                            Richard III (1995)<br>
                            Dragonheart (1996)<br>
                            Sex and the Beauties (2003)<br>
                            The Libertine (1969)<br>
                            Ricky Martin: One Night Only (1999)<br>
                            Ken Burns' America: Empire of the Air (1991)<br>
                            Crash Dive (1943)<br>
                            Outside the Law (2001)<br>
                            Lost in the Pershing Point Hotel (2000)<br>
                            Barbarian Queen 2 (1989)<br>
                            Vampire Journals (1997)<br>
                            Invader Zim (2004)<br>
                            WWE: Armageddon 2003 (2003)<br>
                            Tai Chi: The 24 Forms (1999)<br>
                            Maya Lin: A Strong Clear Vision (1995)<br>
                            At Home Among Strangers (1974)<br>
                            Davy Crockett: 50th Anniversary Double Feature (1954)<br>
                            6ixtynin9 (1999)<br>
                            Grind (1997)<br>
                            I Love Lucy: Season 2 (1952)<br>
                            Congo (1995)<br>
                            Jingle All the Way (1996)<br>
                            The Killing (1956)<br>
                            Winter Kills (1979)<br>
                            Antarctica: IMAX (1991)<br>
                            The Frogmen (1951)<br>
                            Silkwood (1983)<br>
                            The Powerpuff Girls Movie (2002)<br>
                            Elfen Lied (2005)<br>
                            Iron Monkey 2 (1996)<br>
                            Louder Than Bombs (2002)<br>
                            Record of Lodoss War: Chronicles of the Heroic Knight (1998)<br>
                            Chain of Command (2000)<br>
                            The Lemon Drop Kid (1951)<br>
                            WWE: Royal Rumble 2005 (2005)<br>
                            ECW: Cyberslam '99 (2002)<br>
                            They Came Back (2004)<br>
                            G3: Live in Concert (2000)<br>
                            Dona Herlinda and Her Son (1985)<br>
                            Inside the Space Station (2000)<br>
                            Mostly Martha (2002)<br>
                            The Battle of Algiers: Bonus Material (1965)<br>
                            A Fishy Story (1989)<br>
                            Sam the Iron Bridge (1993)<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="next-button">
                NEXT
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="recommendation">
            <div class="judul-section" style="margin-left: 0px;">
                RECOMMENDATION
            </div>
            <div class="text-med-32" style="margin-top: 10px; width: 910px;">
                you can input movie’s titles and also ratings for the movie on the list that maybe you already watched.
            </div>
            <div class="content-rec-container">
                <div class="form-container">
                    <div class="text-med-32">
                        1st Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        1st Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        2nd Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        2nd Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        3rd Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        3rd Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        4th Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        4th Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                    <div class="text-med-32">
                        5th Movie Title
                    </div>
                    <div class="field-input-title">

                    </div>
                    <div class="text-med-32">
                        5th Rating
                    </div>
                    <div class="field-input-rating">

                    </div>
                </div>
                <div class="poster-container">
                    <div class="container-kiri">
                        <div class="poster">
                            <img src="{{url_for('static', filename='images/taxi.png')}}">
                        </div>
                        <div class="poster" style="margin-top: 30px;">
                            <img src="{{url_for('static', filename='images/gross-anatomy.png')}}">
                        </div>
                    </div>
                    <div class="container-kanan">
                        <div class="poster" style="margin-top: 95px;">
                            <img src="{{url_for('static', filename='images/forrest-gump.png')}}">
                        </div>
                        <div class="poster" style="margin-top: 30px;">
                            <img src="{{url_for('static', filename='images/crossroads.png')}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rec-button" style="margin-left: 484px;">
                GET RECOMMENDATION
            </div>
        </div>
        <div class="line-section">

        </div>
        <div class="footer">
            <div class="logo-footer">
                <img src="{{url_for('static', filename='images/logo-footer.png')}}">
            </div>
            <div class="text-med-32" style="font-size: 25px; text-align: center; width: 689px;">
                CDFilm provides movie recommendations that are just right for you. Experience something different.
            </div>
            <div class="sosmed-logo-container">
                <div class="sosmed-footer">
                    <img src="{{url_for('static', filename='images/instagram.png')}}">
                </div>
                <div class="sosmed-footer">
                    <img src="{{url_for('static', filename='images/facebook.png')}}">
                </div>
                <div class="sosmed-footer">
                    <img src="{{url_for('static', filename='images/call.png')}}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>